AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localstack:4566
S3_BUCKET_NAME=file-renaming-input-local
RULES_TABLE_NAME=file-renaming-rules-local
BATCHES_TABLE_NAME=file-renaming-batches-local
RESULTS_TABLE_NAME=file-renaming-results-local
SONAR_HOST_URL=http://localhost:9000
SONAR_PROJECT_KEY=SONAR_PROJECT_KEY

